.h1{
    font-size:34px;
    text-align:center;
    margin:0px;
    padding:48px;
    color: #ff6392;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.btn-deleteAll {
    min-width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: beige;
    background: transparent;
    z-index: 0;
    margin-left: 20px;
  }
  .btn-deleteAll:hover:after {
    top: 0;
    left: 0;
  }
  .btn-deleteAll:after {
    content: "";
    width: 100%;
    z-index: -1;
    border-radius: 6px;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: teal;
  }

  @media (max-width: 800px) {
   .h1{
    font-size:24px;
   }
   h2{
    font-size:30px;
  }
}